/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	margin: 10px 0px 20px;
	text-align: center;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
	width: 400px;
}

.gwt-Button {
	padding: 0px;
	border: 1.5px;
}

.dialogVPanel {
	margin: 5px;
}

#adminVertPan {
	margin-left: auto;
	margin-right: auto;
}

#adminHorPan {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: lightgray;
	margin-right: auto;
	margin-left: auto;
}

#adminSubBut {
	margin: 2px;
}

#adminFileUp {
	margin: 6px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}

/* Recent Events Table Headers in Global View*/
.recentEventHeaders {
	border: 1px solid #C9DFAF;
	background-color: #C9DFAF;
	color: black;
	padding: 4px
}