<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
         
  <!-- Servlets -->
  <servlet>
    <servlet-name>FileReader</servlet-name>
    <servlet-class>com.cs310.ubc.meetupscheduler.server.FileReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileReader</servlet-name>
    <url-pattern>/meetupscheduler/filereader</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ParkService</servlet-name>
    <servlet-class>com.cs310.ubc.meetupscheduler.server.ParkServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParkService</servlet-name>
    <url-pattern>/meetupscheduler/park</url-pattern>
  </servlet-mapping>  

  <servlet>
    <servlet-name>facilityService</servlet-name>
    <servlet-class>com.cs310.ubc.meetupscheduler.server.FacilityServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>facilityService</servlet-name>
    <url-pattern>/meetupscheduler/facility</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>advisoryService</servlet-name>
    <servlet-class>com.cs310.ubc.meetupscheduler.server.AdvisoryServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>advisoryService</servlet-name>
    <url-pattern>/meetupscheduler/advisory</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>washroomService</servlet-name>
    <servlet-class>com.cs310.ubc.meetupscheduler.server.WashroomServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>washroomService</servlet-name>
    <url-pattern>/meetupscheduler/washroom</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MeetUpScheduler.html</welcome-file>
  </welcome-file-list>

</web-app>
